<div class="jumbotron">
  <h1 class="display-4">Tin tức về Đầu tư</h1>
  <p class="lead">Cập nhật thông tin mới nhất về lĩnh vực đầu tư.</p>
  <a class="btn btn-primary btn-lg" href="/home" role="button">Trở lại trang chủ</a>
</div>
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Chiến lược đầu tư thông minh</h5>
        <p class="card-text">
          Tìm hiểu về cách xây dựng một chiến lược đầu tư hiệu quả trong thị trường khó
          khăn.
        </p>
        <a href="/invest/post1" class="btn btn-primary">Đọc thêm</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Những cơ hội đầu tư tiềm năng</h5>
        <p class="card-text">
          Khám phá những lĩnh vực đầu tư có tiềm năng phát triển trong tương lai.
        </p>
        <a href="/invest/post2" class="btn btn-primary">Đọc thêm</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tài chính cá nhân và đầu tư</h5>
        <p class="card-text">
          Làm thế nào để ta có thể quản lý tài chính cá nhân một cách thông minh và đầu tư
          hiệu quả.
        </p>
        <a href="/invest/post3" class="btn btn-primary">Đọc thêm</a>
      </div>
    </div>
  </div>
</div>
