<h1>Nhập lại mật khẩu đăng nhập mới</h1>
<% if(msg?.length) { %>
<div class="alert alert-danger text-center"><%= msg %></div>
<% } %>
<div class="row justify-content-center">
  <form action="" method="post">
    <div class="mb-3">
      <label for="">Email</label>
      <input type="email" class="form-control" name="email" placeholder="Email ..." />
    </div>
    <div class="mb-3">
      <label for="">Password</label>
      <input
        type="password"
        class="form-control"
        name="newPassword"
        placeholder="Nhập password mới..."
      />
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Cập nhật mật khẩu mới</button>
    </div>
  </form>
</div>
