<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>QUẢN LÝ KHÁCH HÀNG</h1>
    <form action="/customers" method="get">
      <button type="submit" class="btn btn-primary">Hiển thị danh sách khách hàng</button>
    </form>
  </body>
</html>
