<div class="jumbotron">
  <h1 class="display-4">Chào mừng đến với trang Tin Tức</h1>
</div>

<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Đi tới trang kinh tế</h5>
        <a href="/economy" class="btn btn-primary">Truy cập</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Đi tới trang đầu tư</h5>
        <a href="/invest" class="btn btn-primary">Truy cập</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Đi tới trang thời trang</h5>
        <a href="/fashion" class="btn btn-primary">Truy cập</a>
      </div>
    </div>
  </div>
</div>
