<h1>Gửi mail</h1>
<form action="/send-email" method="get">
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Gửi email</button>
  </div>
</form>
<form action="/show-email-list" method="get">
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Lịch sử email đã gửi</button>
  </div>
</form>
