<h1>Login</h1>
<form action="" method="post">
  <div class="mb-3">
    <label for="">Name</label>
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Enter your name ..."
      required
    />
  </div>
  <div class="mb-3">
    <label for="">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="Enter Password ..."
      required
    />
  </div>

  <div class="d-grid">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>

  <div class="d-grid">
    <a class="btn btn-dark mt-3" href="/login/github/redirect"
      >Sign in with Github</a
    >
  </div>
</form>
