<div class="jumbotron">
  <h1 class="display-4">Tin tức về Kinh tế</h1>
  <p class="lead">Cập nhật thông tin mới nhất về tình hình kinh tế và doanh nghiệp.</p>
  <a class="btn btn-primary btn-lg" href="/home" role="button">Trở lại trang chủ</a>
</div>
<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tình hình kinh tế toàn cầu</h5>
        <p class="card-text">
          Xem xét tình hình kinh tế toàn cầu trong bối cảnh biến đổi thế giới.
        </p>
        <a href="/economy/post1" class="btn btn-primary">Đọc thêm</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tin tức doanh nghiệp</h5>
        <p class="card-text">
          Cập nhật về các sự kiện, dự án và cơ hội kinh doanh từ các doanh nghiệp hàng
          đầu.
        </p>
        <a href="/economy/post2" class="btn btn-primary">Đọc thêm</a>
      </div>
    </div>
  </div>
</div>
