<div class="jumbotron">
  <h1 class="display-4">Tin tức về Thời trang</h1>
  <p class="lead">Cập nhật thông tin mới nhất về thời trang.</p>
  <a class="btn btn-primary btn-lg" href="/home" role="button">Trở lại trang chủ</a>
</div>
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Xu hướng thời trang mùa hè</h5>
        <p class="card-text">
          Cùng khám phá những xu hướng thời trang nổi bật cho mùa hè năm nay.
        </p>
        <a href="/fashion/post1" class="btn btn-primary">Đọc thêm</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Bí quyết mix đồ đẹp mắt</h5>
        <p class="card-text">Học cách kết hợp các trang phục để tạo nên vẻ đẹp mới mẻ.</p>
        <a href="/fashion/post2" class="btn btn-primary">Đọc thêm</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Những bộ trang phục thú vị</h5>
        <p class="card-text">
          Chúng ta hãy khám phá những bộ trang phục mang phong cách độc đáo.
        </p>
        <a href="/fashion/post3" class="btn btn-primary">Đọc thêm</a>
      </div>
    </div>
  </div>
</div>
